@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --heading-text-color: #fbfbfc; */
  --background-color: #181824;
}

/* In future when dark them is enabled*/
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: var(--heading-text-color); */
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* hide-scrollbar utility */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

html, body {
  overflow-x: hidden;
}